@font-face {
  font-family: "TTLakes";
  font-style: bold;
  font-weight: 900;
  src: url("../../assets/fonts/TTLakes-Bold.ttf"), url("../../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../../assets/fonts/TTLakes-Bold.eot") format("eot");
}

@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/TTLakes-Regular.ttf"), url("../../assets/fonts/TTLakes-Regular.woff2") format("woff2"),
    url("../../assets/fonts/TTLakes-Regular.woff") format("woff"), url("../../assets/fonts/TTLakes-Regular.eot") format("eot");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:active,
a:active {
  outline: none;
}

body,html {
  background-color: #f8f8f8;
  font-family: "TTLakes";
  font-weight: 500;
  height: 100%;
}
a {
  color: #7e7e82;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}
