.left-menu {
  background-color: white;
  display: flex;
  width: 320px;
  box-shadow: 0px 0px 30px 5px rgba($color: #000000, $alpha: 0.5);
  flex-direction: column;
  padding: 24px;
  min-height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    height: 88px;
  }

  &__right-side {
    display: flex;
    img {
      left: 80px;
      top: 18px;
      height: 54px;
      position: absolute;
    }
  }

  &__content {
    margin-bottom: 40px;

    ul {
      li {
        padding: 16px 0px;
        a {
          color: black;
          transition: 0.5s;
          vertical-align: bottom;
          &::before {
            content: "";
            position: absolute;
            border-left: 8px solid #41f6d7;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 32px;
            left: -8px;
            transform: translateY(-8px);
            transition: 0.5s;
          }
        }
        &:hover {
          a {
            color: #7e7e82;
            &::before {
              left: -4px;
            }
          }
        }
      }
    }
  }

  &__footer {
    margin-top: auto;

    &__contacts {
      display: flex;
      li {
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    &__email {
      margin-bottom: 12px;
    }
    &__number {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    &__language {
      display: flex;
      li {
        margin-right: 7px;
        transition: 0.5s;

        a {
          color: black;
        }

        &:first-of-type {
          a {
            color: #7e7e82;
          }
        }

        &:hover{
            transform: scale(1.3);
        }
      }
    }
  }
}