@font-face {
  font-family: "TTLakes";
  font-style: bold;
  font-weight: 900;
  src: url("../assets/fonts/TTLakes-Bold.ttf"),
    url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.eot") format("eot");
}

@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/TTLakes-Regular.ttf"),
    url("../assets/fonts/TTLakes-Regular.woff2") format("woff2"),
    url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
    url("../assets/fonts/TTLakes-Regular.eot") format("eot");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "TTLakes";
  font-weight: 500;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #7e7e82;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}
