

/*
.navigation__menu {
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}

.navigation__menu li:first-child {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.navigation__menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
/*